<p>TokenType: <%= user.TokenType %></p>
<p>Scopes: <%= user.Scopes %></p>
<p>ExpiresOn: <%= user.ExpiresOn %></p>
<p>CharacterID: <%= user.CharacterID %></p>
<p>CharacterName: <%= user.CharacterName %></p>
<p>CharacterOwnerHash: <%= user.CharacterOwnerHash %></p>

<p>Go <a href="/">Home</a> or <a href="/logout">logout</a>.</p>

